@page "/"
<page size="A4">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-4" style="background-color: rgb(0, 75 , 128)">
                <div class="card bg-transparent mt-5 border-0">
                    <div class="container">
                        <img src="/person.jpg" class="card-img-top img-thumbnail rounded-circle" alt="cv image" />
                    </div>
                    <div class="card-body p-0">
                        <div class="text-light mt-4">
                            <p class="row text-center">
                                <span class="fw-bold fs-4">Ahmet Burak</span>
                            </p>

                            <span class="fw-bold">Date of birth:</span> <span>29/10/1992</span>
                            <span class="fw-bold">Nationality:</span> <span> Turkish </span>

                            <div class="d-grid gap-2 mt-4">

                                <span class="fw-bold">CONTACT</span>

                                <div class="row">
                                    <i class="col-1 bi bi-geo-alt" />
                                    <span class="col">Kocaeli, Turkey</span>
                                </div>
                                <div class="row">
                                    <i class="col-1 bi bi-envelope" />
                                    <span class="col">burak_ahm@hotmail.com</span>
                                </div>
                                <div class="row">
                                    <i class="col-1 bi bi-telephone" />
                                    <span class="col">(+90) 538 935 36 27</span>
                                </div>
                                <div class="row">
                                    <i class="col-1 bi bi-linkedin" />
                                    <a class="col text-light text-break" target="_blank" href="https://www.linkedin.com/in/ahmet-burak-386369131">https://www.linkedin.com/in/ahmet-burak-386369131</a>
                                </div>
                                <div class="row">
                                    <i class="col-1 bi bi-github" />
                                    <a class="col text-light text-break" target="_blank" href="https://github.com/d5dl2">https://github.com/d5dl2</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-8 bg-white">
                <div class="card mt-5 bg-light">
                    <div class="card-body">
                        He has major experience in developing desktop/web applications on .Net
                        and .Net Core platforms.  He dreams of
                        developing professional desktop/web technologies and libraries.
                    </div>                    
                </div>
                <div class="card bg-light mt-3">
                    <div class="card-body">
                        <h5 class="card-title" >What I'm Looking For ?</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Deneme</li>
                        <li class="list-group-item">Deneme</li>
                        <li class="list-group-item">Deneme</li>
                        <li class="list-group-item">Deneme</li>
                        <li class="list-group-item">Deneme</li>
                        <li class="list-group-item">Deneme</li>
                        <li class="list-group-item">Deneme</li>
                        <li class="list-group-item">Deneme</li>
                    </ul>
                </div>
                <div class="card bg-light mt-3">
                    <div class="card-body">
                        <h5 class="card-title">What I Offer ?</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Deneme</li>
                        <li class="list-group-item">Deneme</li>
                        <li class="list-group-item">Deneme</li>
                        <li class="list-group-item">Deneme</li>
                        <li class="list-group-item">Deneme</li>
                        <li class="list-group-item">Deneme</li>
                        <li class="list-group-item">Deneme</li>
                        <li class="list-group-item">Deneme</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</page>
<page size="A4">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-4" style="background-color: rgb(0, 75 , 128)">
            </div>
            <div class="col-8 bg-white">
            </div>
        </div>
    </div>
</page>
